.footer {
  margin-block-start: 4rem;
  padding: 2rem;
  text-align: center;
  background: var(--footer-bg, #222);
  color: vaar(--footer-fg, #fff);
}

.footer .nav__list {
  margin-top: 2rem;
  justify-content: center;
}

.footer *:focus {
  outline: 2px solid var(--footer-fg);
  outline-offset: 2px;
}