{% set navItems = nav[meta.lang] %}

<header class="header" aria-labelledby="headerHeadline">
  <div class="header__title">
    <a class="header__logo" href="{{ meta.url }}/" title="{{ meta.siteName}}">
      {% include "partials/logo.svg" %}
      <h2 id="headerHeadline" class="visually-hidden">{{ meta.siteName }}</h2>
    </a>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      {% for item in navItems.header %}
        <li class="nav__item"><a class="nav__link" href="{{ meta.url }}{{ item.href }}"{{helpers.getLinkActiveState(item.href, page.url) | safe}}>{{ item.title }}</a></li>
      {% endfor %}        
    </ul>
  </nav>
</header>