<title>{{ title }} - {{ meta.siteName }}</title>
<link rel="icon" href="{{ meta.siteUrl }}/favicon.svg" type="image/svg+xml">
<link rel="canonical" href="https://lea-dot-lgbt.netlify.app">
<meta name="description" content="{{ description }}" />
<meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>